<h1>Angular Form-ები</h1>

<!-- * ანგულარში არსებობს 2 გავრცელებული ფორმის ტიპები როგორიცაა Reactive Forms (რეაქტიული ფორმები) და Template Driven Forms -->
<!-- ? Template Driven სახელი მომდინარეობს იქიდან რომ კოდის უმეტესი ნაწილი Template ში ანუ HTML ში იმყოფება -->
<!-- ? Reactive Forms სახელი მომდინარეობს რეაქტიული პროგრამირეიბდან ვინაიდან ის ეყრდნობა ისეტ პრინციპებს რომელიც მოითხოვს კომპლექსურ ლოგიკას -->

<!-- ? Template Driven -->


<!-- ! name აუცილებლად უნდა ემთხვეოდეს ჩვენ [(ngModel)]-ში გადაცემულ მნიშნველობას -->
<div class="wrapper">
  <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
    <div>
      <label for="name">Product Name:</label>
      <input required id="name" name="name" type="text" [(ngModel)]="product.name" required>
    </div>
    <div>
      <label for="comment">Comment:</label>
      <input [pattern]="emailRegex" required minlength="5" maxlength="100" id="comment" name="comment" type="text"
        [(ngModel)]="product.comment">
    </div>
    <div>
      <label for="quantity">Quantity:</label>
      <input id="quantity" name="quantity" type="number" [(ngModel)]="product.quantity" required min="5">
    </div>
    <button type="submit" [disabled]="!productForm.form.valid">Add Product</button>
  </form>
</div>


<div class="wrapper">
  <form [formGroup]="registrationForm" (ngSubmit)="Register()">
    <div>
      <label for="username">Username:</label>
      <input id="username" formControlName="username" type="text">
    </div>
    <div>
      <label for="email">Email:</label>
      <input id="email" formControlName="email" type="email">
    </div>
    <div>
      <label for="password">Password:</label>
      <input id="password" formControlName="password" type="password">
    </div>
    <div>
      <label for="website">Website:</label>
      <input type="text" name="website" formControlName="website" id="website">
    </div>
    <button type="submit" [disabled]="!registrationForm.valid">Submit</button>
  </form>
</div>
